/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 90px auto;
  font-family: 'PT Serif', serif;
}

h1 {
  margin: auto;
  width: 80%;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 96px ;
  line-height: 1.2;
}
.subtitle {
  font-family: 'PT Serif', serif;
  margin: 30px auto;
  width: 65%;
  font-size: 36px;
  line-height: 1.6;
  text-align: center;
  color: #7D7D7D;

}
.lead {
  font-size: 21px ;
}
body {
  font-size: 18px;
  color: #414141;
}
a {
  color: #CA5E10;
}